.profile__info-block {
  max-width: 100%;
  margin: 22px 0 0 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .profile__info-block {
    margin: 26px 0 0 30px;
    margin-left: 0;
  }
}
