.popup__edit {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 358px;
  position: relative;
}

@media screen and (max-width: 680px) {
  .popup__edit {
    max-width: 282px;
  }
}
