.header__button_gray {
  margin-left: 24px;
  cursor: pointer;
  color: rgba(169,169,169,1);
  transition: color .3s ease-in;
  background: none;
  border: none;
}

.header__button_gray:hover {
  color: rgba(169,169,169,0.6);
}

@media screen and (max-width: 700px) {
  .header__button_gray {
    margin: 18px 0 0;
    padding: 0;
  }
}
