.auth__link {
  margin: 15px auto 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  color: rgba(255,255,255,1);
  text-decoration: none;
  transition: color .3s ease-in;
}

.auth__link:hover {
  color: rgba(255,255,255,0.6);
}

@media screen and (max-width: 800px) {
  .auth__link {
    margin-top: 20px;
  }
}
