.popup__title_type_tooltip {
  margin: 32px 36px 60px;
  width: 358px;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .popup__title_type_tooltip {
    margin: 40px 18px 50px;
    width: 244px;
    text-align: center;
    font-size: 20px;
  }
}
