.header__icon {
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in;
  display: none;
}

.header__icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .header__icon {
    width: 20px;
    margin: 27px 30px 0 0;
    display: block;
  }
}
