.element__delete {
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: 100%;
  cursor: pointer;
  background: url(../../../images/deleteCards.svg) no-repeat center;
  opacity: 1;
  transition: opacity .3s ease-in;
  visibility: hidden;
}

.element__delete:hover {
  opacity: 0.6;
}
