.auth__input {
  margin-bottom: 30px;
  padding: 0;
  width: 100%;
  height: 27px;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  background: none;
  border-bottom: 1px solid #fff;
}

.auth__input:focus {
  outline: none;
}


