.element__button-like {
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/likeFalse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.element__button-like:hover {
  opacity: 50%;
}
